- content_for(:side) do
  %h2 Sign up
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), defaults: { required: true } do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, autofocus: true
      = f.input :username
      = f.input :password
      = f.input :password_confirmation
      = f.input :location, required: false, hint: "Your location can be used to make it easier to find what you want, and for others to find what they want from you"
    .form-actions
      = f.button :submit, "Sign up"
  = render "devise/shared/links"
- content_for(:body) do
  #map-canvas
