#profile
  #user-info
    %h3= @user.username
    %p
      Location: 
      = @user.location
    - if @user == current_user
      =link_to "Edit Profile", edit_user_registration_path
    - elsif current_user
      = number_with_precision(@user.distance_from(current_user), precision: 2)
      miles away

  #map
    %input#user_location{type: 'hidden', value: @user.location}
    #map-canvas{style: "width: 800px; height: 400px;"}

  #library
    %h3 For Rent
    - if @user == current_user
      =link_to "Add New Item +", new_item_path, id: "new_library_item", class: "new-item-link"
    - @user.library.items.each do |i|
      = render partial: "items/item", locals: {item: i}

  #wanted-list
    %h3 Wanted
    - if @user == current_user
      =link_to "Add New Item +", items_new_wanted_path, id: "new_wanted_list_item", class: "new-item-link"
    - @user.wanted_list.items.each do |i|
      = render partial: "items/item", locals: {item: i}