.item-display{class: "#{item.type.downcase}"}
  %a{href: item_path(item) }
    - src = !item.images.blank? ? item.images : "no_image.png"
    .img-wrap= image_tag src
    .info
      .name= item.name
      .desc= item.description
      / .icon= image_tag "icons/#{item.type.downcase}.png"
    / - if item.user
    /   %li
    /     Owned by
    /     = link_to item.user.username, user_path(item.user)}
