%ul
  %li= @item.name
  - if !@item.images.blank?
    %li= image_tag @item.images
  %li
    Owned by
    = link_to @item.user.username, user_path(@item.user)

- if @item.user == current_user
  = simple_form_for @item, url: item_path(@item), method: "DELETE" do |f|
    = f.submit "Delete"
  = simple_form_for @item, url: edit_item_path(@item), method: "GET" do |f|
    = f.submit "Edit"