%h3 Titles
= simple_form_for :titles do |f|
  = f.input :keywords, :input_html => { value: @input[:keywords] }
  = f.submit "Search"
  - Item.type_symbols_plural.each do |s|
    = f.input s, as: :boolean, :input_html => { checked: @input[s] != "0" }
= render "/items/title_results/index"