- dirname = "items/title_results"
#titles{ class: "columns-#{@results.length}" }
  - Item.type_symbols_plural.each do |s|
    - if @results[s]
      %div{ id: s }
        %ul
          - Kaminari.paginate_array(@results[s]).page(1).per(3).each do | result |
            - @item_data = {}
            = render partial: "#{dirname}/#{s.to_s}", locals: { result: result }
            - @item_data[:type] = s.to_s.classify.constantize
            %li= @item_data[:name]
            %li= image_tag @item_data[:image]
            = simple_form_for :item, url: items_from_title_path, method: :get,defaults: { as: :hidden } do |f|
              = f.input :name, input_html: { value: @item_data[:name] }
              = f.input :type, input_html: { value: @item_data[:type] }
              = f.submit "I Have This", name: :library
              = f.submit "I Want This", name: :wanted_list
}
