!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .fixed
      %nav.main.top-bar
        = link_to root_path, id: "logo" do
          %h2.title
            / = image_tag "POGO_10.090_OCA.svg", class: "logo"
            Capstone2
        .links
          - if user_signed_in?
            = link_to "Profile", user_path(current_user) 
            = link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign In", new_user_session_path
            = link_to "Sign Up", new_user_registration_path
          / %li
          /   %form{method: "GET", action: items_search_path}
          /     %input{type: 'text', placeholder: 'Search'}
          /     %input{type: 'submit'}
          / %li= "Search", items_search_path
          = link_to "Listings", items_path
          = link_to "Titles", titles_path
      - if content_for?(:nav)
        %nav.top-bar= yield(:nav)
    %main{class: content_for?(:nav) ? "with-nav2" : ""}
      - if notice.present?
        .alert-box.success{ "data-alert" => "" }
          = notice
          %a.close{ href: "#" } &times;
      - if alert.present?
        .alert-box.alert{ "data-alert" => "" }
          = alert
          %a.close{ href: "#" } &times;
      = yield
      - if content_for?(:side) && content_for?(:body)
        .body-with-side-bar
          .side-bar= yield(:side)
          .body= yield(:body)
    - if content_for?(:scripts)
      = yield(:scripts)
    = javascript_include_tag "application"